div(ng-show="main.tool == 'describe'", ng-controller="DescribeCtrl as ctrl")
  h1(style="text-align: center;") {{ ctrl.selected.getLabel() }}
  hr
  div(ng-repeat="(key, value) in ctrl.long track by $index", ng-init="value.more = false;")
    strong {{ value.label.value }} :&nbsp;
    div(ng-if="!value.more" ,style="display: inline;") {{ ctrl.descPropValue[value.uri.value][0].uri.value.slice(0,180) + '...'}}
    div(ng-if="value.more" ,style="display: inline;") {{ ctrl.descPropValue[value.uri.value][0].uri.value }}
    a(href="", ng-if="!value.more", ng-click="value.more = !value.more") [more]
    a(href="", ng-if="value.more", ng-click="value.more = !value.more") [less]
  table.table.table-hover
    tbody
      tr(ng-repeat="(key, value) in ctrl.descDatatypeProp track by $index",
         ng-init="ctrl.getDatatypePropValue(ctrl.selected.getUri(), value.uri.value)")
        th {{ value.label.value }}
        td
          div(ng-repeat="(k, v) in ctrl.descPropValue[value.uri.value] track by $index") {{ v.uri.value }}

  div.propRect(
      ng-repeat="(key, value) in ctrl.descObjProp track by $index",
      ng-init="ctrl.getObjPropValue(ctrl.selected.getUri(), value.uri.value); value.active = false; value.filter = '';",
      ng-class="{'active': value.active}")
    div.head
      div.text-truncate(style="display:inline-block; width:100%;",
          ondragstart="angular.element(this).scope().drag(event, '', angular.element(this).scope().value.uri.value)",
          draggable="true") {{ value.label.value }}
      div.info
        span.pull-right.fa(aria-hidden="true", ng-click="value.active = !value.active",
                           ng-class="value.active ? 'fa-chevron-up' : 'fa-chevron-down'")
        div.inner-addon.right-addon
          i.fa.fa-search(aria-hidden="true")
          input.form-control(type="text", ng-model="value.filter")
    hr
    div.fakeRect-container
      div.fakeRect(
          ng-repeat="(k, v) in ctrl.descPropValue[value.uri.value] | filter: {label : { value : value.filter} } track by $index"
          ondragstart="angular.element(this).scope().drag(event, angular.element(this).scope().v.uri.value,  angular.element(this).scope().value.uri.value)",
          draggable="true") {{ v.label.value }}
