div(ng-show="main.tool == 'describe'", ng-controller="DescribeCtrl as ctrl")
  // Show the state of the selected element
  .ta-center(ng-if="ctrl.selected.source")
    //TODO: add disable on chevron when no next or prev.
    i.pull-left.fa.fa-chevron-left.mt-1(ng-click="ctrl.getPrev()")
    a.ell(href="{{ctrl.selected.uri}}", target="_blank", style="width: calc(100% - 40px);") {{ ctrl.selected.uri }}
    i.pull-right.fa.fa-chevron-right.mt-1(ng-click="ctrl.getNext()")
    hr(style="margin: 3px 0px;")

  // Show when no URI selected
  h3.ta-center.mb-0(ng-if="!ctrl.selected") No URIs to describe
  h3.ta-center.mb-0.wrap {{ ctrl.selected.getUri().getLabel() }}
  hr(style="margin: 3px 0px;")

  // TODO: Carousel or something to see more images.
  img.c-img(ng-if="ctrl.selected.image.length>0", ng-src="{{ctrl.selected.results[ctrl.selected.image[0].uri][0]}}")

  // Text properties (long text)
  div(ng-repeat="prop in ctrl.selected.text track by $index", ng-init="prop.active = {}")
    .text-container(ng-repeat="value in ctrl.selected.results[prop.uri]",
                    ng-class="{'active': prop.active[$index]}")
      .literal(ondragstart="angular.element(this).scope().drag(event, '', angular.element(this).scope().prop.uri, 'literal')",
               draggable="true", title="{{prop.uri}}") {{ prop.uri.getLabel() }}:&nbsp;
      .more-less
        span {{ prop.active[$index] ? '' : '... '}}
        a(href="", ng-click="prop.active[$index] = !prop.active[$index]") [{{prop.active[$index] ? 'less' : 'more'}}]
      span {{ value }}

  // Datatype properties (table) TODO: search for property 
  h5.mb-2.mt-3.clickable.no-select(ng-click="ctrl.show.datatype = !ctrl.show.datatype", ng-if="ctrl.selected.datatype.length > 0")
    i.fa.mr-2(ng-class="ctrl.show.datatype ? 'fa-eye' : 'fa-eye-slash'")
    | Datatype properties
    span.pull-right [{{ ctrl.selected.datatype.length }}]

  .dt-table.container(ng-if="ctrl.show.datatype")
    .row.wrap.align-items-center(ng-repeat="prop in ctrl.selected.datatype track by $index")
      .col-md-4
        .literal(ondragstart="angular.element(this).scope().drag(event, '', angular.element(this).scope().prop.uri, 'literal')",
                 draggable="true", title="{{prop.uri}}") {{ prop.uri.getLabel() }}
        .pull-right :
      .col-md-8
        div(ng-repeat="value in ctrl.selected.results[prop.uri] track by $index", ng-class="{'active': prop['ac'+$index]}")
          div(ng-if="value.length < 80") {{ value }}
          div(ng-if="value.length > 80") {{ prop['ac'+$index] ? value : value.slice(0,80)+'...' }}
            a.pull-right(href="", ng-click="prop['ac'+$index] = !prop['ac'+$index]")
              | [{{prop['ac'+$index] ? 'less': 'more'}}]

  // Object properties (dragable rectangles)
  h5#objptitle.mb-2.mt-3.clickable.no-select(ng-click="ctrl.show.objects = !ctrl.show.objects", ng-if="ctrl.selected.objects.length > 0")
    i.fa.mr-2(ng-class="ctrl.show.objects ? 'fa-eye' : 'fa-eye-slash'")
    | Object properties
    span.pull-right [{{ ctrl.selected.objects.length }}]

  div(ng-if="ctrl.show.objects")
    .propRect(ng-repeat="prop in ctrl.selected.objects track by $index", ng-class="{'active': prop.active}", style="border-color: #ff7f0e;")
      .head(ng-click="prop.active = !prop.active")
        .text-truncate(style="display:inline-block; width:100%; cursor: grab;",
            id="{{ 'propId' + $index }}",
            ondragstart="angular.element(this).scope().drag(event, '', angular.element(this).scope().prop.uri)",
            draggable="true", title="{{prop.uri}}") {{ prop.uri.getLabel() }}
        .info
          span.pull-right.clickable.fa(aria-hidden="true", ng-class="prop.active ? 'fa-chevron-up' : 'fa-chevron-down'")
          .inner-addon.right-addon
            i.fa.fa-search.clickable(ng-click="prop.active = true; $event.stopPropagation();", aria-hidden="true")
            input.form-control(ng-click="prop.active = true; $event.stopPropagation();", type="text", ng-model="prop.filter")
      hr
      .fakeRect-container
        .fakeRect(style="border-color: #1f77b4;",
            ng-repeat="obj in ctrl.selected.results[prop.uri] | filter: prop.filter track by $index",
            ng-dblclick="obj.uri.describe();", 
            ondragstart="angular.element(this).scope().drag(event, angular.element(this).scope().obj.uri, angular.element(this).scope().prop.uri)",
            draggable="true", title="{{obj.uri}}") {{ obj.uri.getLabel() }}

  // External links
  h5.mb-2.mt-3.clickable.no-select(ng-click="ctrl.show.external = !ctrl.show.external", ng-if="ctrl.selected.external.length > 0")
    i.fa.mr-2(ng-class="ctrl.show.external ? 'fa-eye' : 'fa-eye-slash'")
    | External links
    span.pull-right [{{ ctrl.selected.external.length }}]

  div(ng-if="ctrl.show.external")
    div(ng-repeat="prop in ctrl.selected.external track by $index")
      .literal(ondragstart="angular.element(this).scope().drag(event, '', angular.element(this).scope().prop.uri, 'literal')",
               draggable="true", title="{{prop.uri}}") {{ prop.uri.getLabel() }}:
      a.ell.ml-2(ng-repeat="value in ctrl.selected.results[prop.uri] track by $index", style="width: calc(100% - 12px);",
                 href="{{value}}", target="_blank") {{ value }}
