div(ng-show="main.tool == 'edit'", ng-controller="EditCtrl as ctrl")
  h1.ta-center Editing {{ ctrl.selected.variable.get() }}  
    i(ng-if="!ctrl.isVariable") ({{ ctrl.selected.getUri().getLabel() }})
  hr
  input#edit-is-var(type="checkbox", ng-model="ctrl.isVariable")
  label.form-check-label(for="edit-is-var") Is Variable
  div(ng-if="!ctrl.isVariable && ctrl.uris.length == 0") To use this resource as constraint you need to add at least one value

  .ed-container.mb-3(ng-if="ctrl.variable")
    .ed-container-header
      i.fa(ng-class="ctrl.resActive ? 'fa-chevron-down' : 'fa-chevron-right'",
           ng-click="ctrl.resActive = !ctrl.resActive")
      .ed-container-title Partial results:
    .ed-container-content(ng-class="{ active: ctrl.resActive }")
      .row.ed-values-elem(ng-if="ctrl.variable.results.length==0") 
        .col-md-12 Currently this variable has no partial results.
      .row.ed-values-elem(ng-repeat="(key, value) in ctrl.variable.results", title="{{value.uri.value}}")
        .col-md-12
          .ell.ml-1(style="display: inline-block; width: 80%;") {{ value.uri.value.getLabel(); }}
          i.pull-right.fa.fa-plus(ng-click="ctrl.addValue(value.uri.value);")
          i.pull-right.fa.fa-eye(ng-click="value.uri.value.describe();")

  .ed-container.mb-3(ng-if="ctrl.variable")
    .ed-container-header
      i.fa(ng-class="ctrl.varActive ? 'fa-chevron-down' : 'fa-chevron-right'",
           ng-click="ctrl.varActive = !ctrl.varActive")
      .ed-container-title Variable settings:
    .ed-container-content(ng-class="{ active: ctrl.varActive }")
      form
        .form-row
          .input-group.col-md-12
            .input-group-prepend
              label.input-group-text(for="edit-var-name") Variable name
            span.edit-var-name-prefix ?
            input#edit-var-name.form-control(
                type="text",
                autocomplete="off",
                ng-model="ctrl.variable.alias",
                placeholder="{{ ctrl.variable.id }}")
        .form-row.mt-2
          .form-group.form-check.col-md-4
            input#edit-show(type="checkbox", ng-model="ctrl.variable.options.show")
            label.form-check-label(for="edit-show") show me
          .form-group.form-check.col-md-4
            input#edit-count(type="checkbox", ng-model="ctrl.variable.options.count")
            label.form-check-label(for="edit-count") count me

      h6 Filters:
      .ed-filters
        .form-row.mb-1(ng-repeat="(key, value) in ctrl.variable.filters", style="margin:0;")
          .input-group.input-group-sm
            .input-group-prepend
              label.input-group-text() {{ ctrl.filters[value.type].name }}
            input.form-control(
                ng-repeat="(k, v) in ctrl.filters[value.type].data",
                type="{{ v.type }}",
                autocomplete="off",
                ng-model="value.data[k]",
                placeholder="{{ k }}")

        .form-row.mb-1(style="margin:0;")
          .input-group.input-group-sm
            select.custom-select(ng-model="ctrl.newFilterType")
              option(value="") -- Select a new filter --
              option(ng-repeat="(key, value) in ctrl.filters", value="{{key}}") {{value.name}}
            input.form-control(
                ng-repeat="(k, v) in ctrl.filters[ctrl.newFilterType].data",
                type="{{ v.type }}",
                autocomplete="off",
                ng-init="ctrl.newFilterData[k] = ''",
                ng-model="ctrl.newFilterData[k]",
                placeholder="{{ k }}")
            .input-group-append
              button.btn.btn-outline-secondary(type="button", ng-click="ctrl.addNewFilter(ctrl.variable)") Add


  .ed-container.mb-3(ng-if="ctrl.literal")
    .ed-container-header
      i.fa(ng-class="ctrl.litActive ? 'fa-chevron-down' : 'fa-chevron-right'",
           ng-click="ctrl.litActive = !ctrl.litActive")
      .ed-container-title Literal property settings:
    .ed-container-content(ng-class="{ active: ctrl.litActive }")
      form
        .form-row
          .input-group.col-md-12
            .input-group-prepend
              label.input-group-text(for="edit-var-name2") Variable name
            span.edit-var-name-prefix ?
            input#edit-var-name2.form-control(
                type="text",
                autocomplete="off",
                ng-model="ctrl.literal.alias",
                placeholder="{{ ctrl.literal.id }}")
        .form-row.mt-2
          .form-group.form-check.col-md-4
            input#edit-show(type="checkbox", ng-model="ctrl.literal.options.show")
            label.form-check-label(for="edit-show") show me
          .form-group.form-check.col-md-4
            input#edit-count(type="checkbox", ng-model="ctrl.literal.options.count")
            label.form-check-label(for="edit-count") count me

      h6 Filters:
      .ed-filters
        .form-row.mb-1(ng-repeat="(key, value) in ctrl.literal.filters", style="margin:0;")
          .input-group.input-group-sm
            .input-group-prepend
              label.input-group-text() {{ ctrl.filters[value.type].name }}
            input.form-control(
                ng-repeat="(k, v) in ctrl.filters[value.type].data",
                type="{{ v.type }}",
                autocomplete="off",
                ng-model="value.data[k]",
                placeholder="{{ k }}")

        .form-row.mb-1(style="margin:0;")
          .input-group.input-group-sm
            select.custom-select(ng-model="ctrl.newFilterType")
              option(value="") -- Select a new filter --
              option(ng-repeat="(key, value) in ctrl.filters", value="{{key}}") {{value.name}}
            input.form-control(
                ng-repeat="(k, v) in ctrl.filters[ctrl.newFilterType].data",
                type="{{ v.type }}",
                autocomplete="off",
                ng-init="ctrl.newFilterData[k] = ''",
                ng-model="ctrl.newFilterData[k]",
                placeholder="{{ k }}")
            .input-group-append
              button.btn.btn-outline-secondary(type="button", ng-click="ctrl.addNewFilter(ctrl.literal)") Add

  .ed-container.mb-3
    .ed-container-header
      i.fa(ng-class="ctrl.valActive ? 'fa-chevron-down' : 'fa-chevron-right'",
           ng-click="ctrl.valActive = !ctrl.valActive")
      .ed-container-title Values:
    .ed-container-content(ng-class="{ active: ctrl.valActive }")
      .input-group.input-group-sm.mb-3
        input.form-control(type='url', placeholder="Add a new value", ng-model="ctrl.newValue",
                           aria-label="New value", aria-describedby='edit-button-add')
        .input-group-append
          button#edit-button-add.btn.btn-outline-secondary(type='button', ng-click="ctrl.addValue(ctrl.newValue); ctrl.newValue='';") add
      .row.ed-values-elem(ng-repeat="(key, value) in ctrl.uris", title="{{value}}")
        .col-md-1 
        .col-md-10 {{ value.getLabel() }}
        .col-md-1
          i.pull-right.fa.fa-trash(ng-click="ctrl.removeValue(value);")

  
  br
  button.pull-right.btn.btn-primary(type="button", ng-click="ctrl.save()") Save
  button.pull-right.btn.btn-warning(type="button", ng-click="ctrl.cancel()", style="margin-right: 10px;") Cancel
