div(ng-show="main.tool == 'edit'", ng-controller="EditCtrl as ctrl")
  h3.ta-center.ell(style="width: 100%;") Editing {{ ctrl.variable }} {{ ctrl.isVariable ? '' : '(const)'}}
  
  //-------------------- TABS --------------------//
  ul.nav.nav-tabs.nav-justified
    li.nav-item.clickable
      .nav-link(ng-class="{'active': ctrl.isVariable}", ng-click="ctrl.mkVariable()")
        input.no-click(type="checkbox", ng-model="ctrl.isVariable")
        a.ml-1 Variable
    li.nav-item.clickable
      .nav-link(ng-class="{'active': !ctrl.isVariable, 'tab-hl': ctrl.added>0}", ng-click="ctrl.mkConst()")
        input.no-click(type="checkbox", ng-model="ctrl.isConst")
        a.ml-1 Constraint {{ ctrl.selected.uris.length >  0 ? '('+ctrl.selected.uris.length+')' : '' }}
        // add as new or something
        //b(ng-if="ctrl.added>0").ml-2 [+{{ctrl.added}}]

  //-------------------- CONSTRAINT --------------------//
  div(ng-if="!ctrl.isVariable")
    .custom-container-title.no-select.mt-2.active Constraints
    .custom-container-content.active
      .input-group.input-group-sm.mt-1.mb-1
        input.form-control(aria-describedby='edit-button-add', aria-label="New value",
                           type="{{ ctrl.newValueType }}}",
                           placeholder="{{ ctrl.newValuePlaceholder }}",
                           ng-model="ctrl.newValue")
        .input-group-append
          button#edit-button-add.btn.btn-outline-secondary(type='button', ng-click="ctrl.addValue();") add
      .alert.alert-danger.alert-sm.mb-1(ng-if="!ctrl.selected.hasUris()") To use this resource as constraint you need to add at least one value
      .row(ng-repeat="(key, value) in ctrl.selected.uris")
        .col-md-12
          span.ell(style="width: calc(100% - 30px);")
            a(ng-if="!ctrl.isLiteral", title="{{value}}", href="", ng-click="value.describe();") {{ value.getLabel(); }}
            span(ng-if="ctrl.isLiteral") {{ value }}
          i.clickable.pull-right.fa.fa-trash.mt-1(ng-click="ctrl.rmValue(value);")
    div.form-check.form-check-inline.mt-1(ng-if="ctrl.selected.isProperty()")
      input.form-check-input#prop-star(type="checkbox", ng-model="ctrl.selected.star", ng-change="ctrl.refresh()")
      label.form-check-label(for="prop-star") Wildcard property

  //--------------------- VARIABLE ---------------------//
  div.mt-3(ng-if="ctrl.isVariable")
    form
      .form-row
        .input-group.col-md-12
          .input-group-prepend
            label.input-group-text(for="edit-var-name") Variable name
          span.edit-var-name-prefix ?
          input#edit-var-name.form-control(
              type="text",
              autocomplete="off",
              ng-model="ctrl.variable.alias",
              ng-change="ctrl.refresh(); ctrl.variable.setAlias(ctrl.variable.alias);",
              placeholder="{{ ctrl.variable.id }}")

    //-------------------- POSSIBLE SOLUTIONS --------------------//
    .form-row.mt-2(style="margin:0;")
      .input-group.input-group#edit-filter-group
        .input-group-prepend
          label.input-group-text(for="edit-filter-results", style="border-bottom-left-radius: 0;") Possible results
        input.form-control#edit-filter-results(type="text", autocomplete="off", ng-model="ctrl.resultFilterValue", ng-change="ctrl.loadPreview()")
        .input-group-append
          i.fa.fa-search#edit-filter-results-icon
          span.input-group-text(style="width: 42px; border-bottom-right-radius: 0;", ng-class="{'loading': ctrl.resultFilterLoading}")
            i.fa(ng-if="!ctrl.resultFilterLoading", ng-class="ctrl.variable.results.length==0 ?  'fa-exclamation-triangle' : 'fa-check'")

    .custom-container-content.active
      .alert.alert-warning.alert-sm.mt-2.mb-1(ng-if="ctrl.variable.results.length==0 && !ctrl.resultFilterLoading") Currently this variable has no partial results!
      .alert.alert-light.alert-sm.mt-2.mb-1(ng-if="ctrl.variable.results.length==0 && ctrl.resultFilterLoading") Loading...
      .row(ng-repeat="elem in ctrl.variable.results", title="{{elem.value}}")
        .col-md-12(ng-class="{'mt-1': $first}")
          span.ell(style="width: calc(100% - 30px);")
            a(ng-if="!ctrl.isLiteral", href="", ng-click="ctrl.addValue(elem.value);")
              i.fa.mr-1.mt-1.clickable(ng-class="ctrl.selected.uris.indexOf(elem.value) < 0 ? 'fa-plus' : 'fa-check-square-o'")
              | {{ elem.value.getLabel(); }}
            span(ng-if="ctrl.isLiteral") {{ elem.value }}
          i.pull-right.fa.fa-eye.mr-1.mt-1.clickable(ng-click="elem.value.describe();")
      //.row() add pagination here
        .col-md-2.clickable
          i.fa.fa-chevron-left
        .col-md-8
        .col-md-2.clickable
          i.fa.fa-chevron-right


    //-------------------- FILTERS --------------------//
    .custom-container-title.no-select.mt-2.clickable(
        ng-class="{'active': ctrl.showFilters}",
        ng-click="ctrl.showFilters = !ctrl.showFilters"
        ) Filters
      span.ml-1(ng-if="ctrl.variable.filters.length > 0") [{{ctrl.variable.filters.length}}]
      i.pull-right.fa(ng-class="ctrl.showFilters ? 'fa-angle-up' : 'fa-angle-down';")

    .custom-container-content(ng-class="{'active': ctrl.showFilters}")
      .form-row.mt-1(style="margin:0;")
        .input-group.input-group-sm
          select.custom-select(ng-model="ctrl.newFilterType")
            option(value="") -- Select a new filter --
            option(ng-repeat="(key, value) in ctrl.filters", value="{{key}}") {{value.name}}
          input.form-control(
              ng-repeat="(k, v) in ctrl.filters[ctrl.newFilterType].data",
              type="{{ v.type }}",
              autocomplete="off",
              ng-init="ctrl.newFilterData[k] = ''",
              ng-model="ctrl.newFilterData[k]",
              placeholder="{{ k }}")
          .input-group-append
            button.btn.btn-outline-secondary(type="button", ng-click="ctrl.newFilter(ctrl.variable)") Add

      .form-row.mt-1(ng-repeat="(key, value) in ctrl.variable.filters", style="margin:0;")
        .input-group.input-group-sm
          .input-group-prepend
            label.input-group-text() {{ ctrl.filters[value.type].name }}
          input.form-control(
              ng-repeat="(k, v) in ctrl.filters[value.type].data",
              type="{{ v.type }}",
              autocomplete="off",
              ng-model="value.data[k]",
              placeholder="{{ k }}")
          .input-group-append.clickable(ng-click="ctrl.rmFilter(ctrl.variable, value)")
            span.input-group-text
              i.fa.fa-trash

