extends layout

block content
  include tools
  include tools-right

  visual-query-builder(
      ng-click="main.searchDeactivate()",
      update="main.updateSVG",
      get-zoom="main.getZoom",
      ondragover="event.preventDefault();",
      ondrop="angular.element(this).scope().drop(event)")
