doctype html
html(lang="en", ng-app="rdfvis")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href="/")
    // Bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    // Font Awesome
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    // angular-loading-bar
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css")
    // IntroJS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css")
    // CodeMirror
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.css")
    // My CSSs
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/graph.css")
    title="RDF Visualization"
  body(ng-controller="MainCtrl as main")
    block content
    // Bootstrap 4.0 js
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
           integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",
           integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    // AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js")
    // D3
    script(src="https://d3js.org/d3.v3.min.js")
    // IntroJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js")
    //Ui bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js")
    // angular-loading-bar
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js")
    // CodeMirror
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/sparql/sparql.min.js")
    // My scripts
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/describe.js")
    script(src="scripts/controllers/edit.js")
    script(src="scripts/controllers/sparql.js")
    script(src="scripts/controllers/settings.js")
    script(src="scripts/directives/visual-query-builder.js")
    script(src="scripts/services/settings.js")
    script(src="scripts/services/query.js")
    script(src="scripts/services/request.js")
    script(src="scripts/services/property-graph.js")
