div#search-container
  div#search-input-container
    form#step1(ng-submit="main.search()")
      input#search-input.form-control(
          autocomplete="off",
          type="text",
          ng-click="main.searchActivate()",
          ng-model="main.searchInput",
          ng-change="main.searchChange()",
          ng-class="{'active': main.searchActive, 'loading': main.searchWait, 'error': main.searchError }")
      span#search-icon.fa.fa-search(aria-hidden="true")
  div#search-results-panel(ng-hide="!main.searchActive")
    div.alert.alert-warning(role="alert", ng-show="main.noResults && main.searchResults.length == 0")
      strong No results found!

    //#search-query when the endpoint support text-search
      .fakeRect(ng-if="main.searchResults.length>0",
                style="border-color: #2ca02c;",
                draggable="true", 
                ondragstart="angular.element(this).scope().dragSearch(event)")
        span.fa.fa-bars(aria-hidden="true").mt-1.ml-2.pull-left
        span(title="{{value.uri.value}}") Drag this search

    .fakeRect(
        draggable="true",
        id="{{ 'result' + $index }}",
        style="border-color: #1f77b4;",
        ondragstart="angular.element(this).scope().drag(event, angular.element(this).scope().value.uri, '')",
        ng-repeat="(key, value) in main.searchResults track by $index ") 
      div(title="{{value.uri}}") {{ value.label }}
      .classes
        span {{ value.desc }}
