div#search-container(
    data-position="right-aligned",
    data-step="2",
    data-intro='The results of your search appear here..')
  div#search-input-container
    form(
        data-position="bottom-right-aligned",
        data-step="1",
        data-intro='Hello!, you can search something here..',
        ng-submit="main.search()")
      input#search-input.form-control(
          autocomplete="off",
          type="text",
          ng-click="main.searchActivate()",
          ng-model="main.searchInput",
          ng-class="{'active': main.searchActive, 'loading': main.searchWait, 'error': main.searchError }")
      span#search-icon.fa.fa-search(aria-hidden="true")
  div#search-results-panel(ng-hide="!main.searchActive")
    //img(src="/images/spin.svg", style="display: block; margin: 0 auto;", ng-show="main.searchWait")
    div.alert.alert-warning(role="alert", ng-show="main.noResults")
      strong No results found!
    div.fakeRect(
        draggable="true",
        ondragstart="angular.element(this).scope().drag(event, angular.element(this).scope().value.uri.value, '')",
        ng-repeat="(key, value) in main.searchResults track by $index ") 
      span(style="display: block; margin-bottom: -8px;", title="{{value.uri.value}}") {{ value.label.value }}
      span(
          ng-repeat="(k, v) in value.types",
          title="{{v.uri.value}}"
          style="font-size:10px;") {{ $last ? v.label.value : v.label.value + ', '}}
