script(type="text/ng-template", id="customTemplate.html")
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      <br/>
      <span> {{ match.model.uri.value }}</span>
  </a>

div(ng-show="main.tool == 'settings'", ng-controller="SettingsCtrl as ctrl")
  h1(style="text-align: center;") Settings
  hr

  h5 Endpoint configuration:
  form
    .form-row
      .form-group.col-md-6
        .input-group
          .input-group-prepend
            label.input-group-text(for="settings-endpoint-label") Name:
          input#settings-endpoint-label.form-control(type="text", ng-model="ctrl.endpoint.label")
      .form-group.col-md-6
        .input-group
          .input-group-prepend
            label.input-group-text(for="settings-endpoint-type") Type:
          select#settings-endpoint-type.custom-select(ng-model="ctrl.endpoint.type")
            option(value="") Other
            option(value="virtuoso") Virtuoso
            option(value="fuseki") Fuseki

    .form-row
      .form-group.col-md-12
        .input-group
          .input-group-prepend
            label.input-group-text(for="settings-endpoint-url") URL:
          input#settings-endpoint-url.form-control(type="url", placeholder="URI", ng-model="ctrl.endpoint.url")

  h5.text Search configuration:
  form
    .form-row
      .form-group.col-md-12
        // The typeahead adds a relative div as parent of the label, .input-group-typeahead to fix that.
        .input-group.input-group-typeahead
          .input-group-prepend
            label.input-group-text(for="settings-selected-class") Class:
          input#settings-selected-class.form-control(
              type="text",
              autocomplete="off",
              ng-class="{'loading': ctrl.loading, 'error': ctrl.noResults}",
              placeholder="Write a class name to search",
              ng-model="ctrl.class",
              typeahead-template-url="customTemplate.html",
              typeahead-show-hint="true",
              uib-typeahead-wait-ms="300",
              typeahead-min-length="3",
              uib-typeahead="class as class.label.value for class in ctrl.getClasses($viewValue)",
              typeahead-loading="ctrl.loading",
              typeahead-no-results="ctrl.noResults")

    .form-row
      .form-group.col-md-5
        .input-group
          .input-group-prepend
            label.input-group-text(for="settings-limit") Limit:
          input#settings-limit.form-control(type="number", ng-model="ctrl.limit")

    button.btn.btn-info(type="button", ng-click="ctrl.default()") Default
    button.pull-right.btn.btn-primary(type="button", ng-click="ctrl.save()") Save
    button.pull-right.btn.btn-warning(type="button", ng-click="ctrl.cancel()", style="margin-right: 10px;") Cancel

  //div
    hr
    pre endpoint: {{ctrl.endpoint | json}}
    pre class: {{ctrl.class | json}}
