script(type="text/ng-template", id="customTemplate.html")
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      <br/>
      <span> {{ match.model.uri.value }}</span>
  </a>

div(ng-show="main.tool == 'settings'", ng-controller="SettingsCtrl as ctrl")
  h1(style="text-align: center;") Settings
  hr
  form

    div.form-group
      label(for="settings-endpoint-url") Endpoint URL:
      input#settings-endpoint-url.form-control(type="url", placeholder="URI", ng-model="ctrl.endpoint.url")
    .row
      .col-xs-7
        .input-group
          label.input-group-addon(for="settings-endpoint-type") Endpoint Type:
          select#settings-endpoint-type.form-control(ng-model="ctrl.endpoint.type", style="-webkit-appearance:none;")
            option(value="") Other
            option(value="virtuoso") Virtuoso
            option(value="fuseki") Fuseki
      .col-xs-5(style="padding-left:0px;")
        .input-group
          label.input-group-addon(for="settings-limit") Limit:
          input#settings-limit.form-control(type="number",value="10", ng-model="ctrl.limit")

    div.form-group
      label.control-label(for="settings-selected-class") Search class:
      input#settings-selected-class.form-control(type="text",
          autocomplete="off",
          placeholder="Class",
          ng-model="ctrl.class",
          typeahead-template-url="customTemplate.html",
          typeahead-show-hint="true",
          uib-typeahead-wait-ms="300",
          typeahead-min-length="3",
          uib-typeahead="class as class.label.value for class in ctrl.getClasses($viewValue)",
          typeahead-loading="ctrl.loading",
          typeahead-no-results="ctrl.noResults")
      i(ng-show="ctrl.loading").fa.fa-refresh
      div(ng-show="ctrl.noResults")
        i.fa.fa-remove No Results Found

    button.btn.btn-info(type="button", ng-click="ctrl.default()") Default
    button.pull-right.btn.btn-primary(type="button", ng-click="ctrl.save()") Save
    button.pull-right.btn.btn-warning(type="button", ng-click="ctrl.cancel()", style="margin-right: 10px;") Cancel

  //div
    hr
    pre endpoint: {{ctrl.endpoint | json}}
    pre class: {{ctrl.class | json}}
