doctype html
html(lang="en", ng-app="survey")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href="/")
    // Bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    // Font Awesome
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    // angular-loading-bar
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css")
    // CodeMirror
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.css")
    title="RDF Explorer survey"

  body(ng-controller="MainCtrl as main")

    .container
      .jumbotron.mt-5#top
        .row.justify-content-center
          .col-10
            .page-header 
              h1 Survey
              hr

            fieldset.form-group(ng-hide="main.step != 0")
              h5 Select the tool you will start with:
              .row
                legend.col-form-label.col-sm-2.pt-0 Start with?:
                .col-sm-10
                  .form-check
                    input.form-check-input#base-url(type="radio", name="gridRadios", value="https://explorer.csrg.cl",
                        ng-model="main.data.startUrl")
                    label.form-check-label(for="base-url")  https://explorer.csrg.cl
                  .form-check
                    input.form-check-input#wqh-url(type="radio", name="gridRadios", value="https://query.wikidata.org",
                        ng-model="main.data.startUrl")
                    label.form-check-label(for="wqh-url")  https://query.wikidata.org
              .form-group.row
                .col-sm-12
                  button.btn.btn-primary.pull-right(type="submit", ng-click="main.next()") Next

            div#user-id(ng-hide="main.step != 1")
              h4 Part 1: User Identification 
              form
                fieldset.form-group
                  .row
                    legend.col-form-label.col-sm-2.pt-0 Gender:
                    .col-sm-10
                      .form-check
                        input.form-check-input#gender-male(type="radio", name="gender", value="male",
                            ng-model="main.data.user.gender")
                        label.form-check-label(for="gender-male")  Male
                      .form-check
                        input.form-check-input#gender-female(type="radio", name="gender", value="female",
                            ng-model="main.data.user.gender")
                        label.form-check-label(for="gender-female")  Female
                .form-group.row
                  label.col-sm-2.col-form-label(for="user-age") Age:
                  .col-sm-10
                    input.form-control#user-age(type="number", placeholder="18", ng-model="main.data.user.age")
                fieldset.form-group
                  .row
                    legend.col-form-label.col-sm-2.pt-0 Degree:
                    .col-sm-10
                      .form-check
                        input.form-check-input#degree-pregrado(type="radio", name="degree", value="bachelor",
                            ng-model="main.data.user.degree")
                        label.form-check-label(for="degree-pregrado")  Bachelor
                      .form-check
                        input.form-check-input#degree-magister(type="radio", name="degree", value="master",
                            ng-model="main.data.user.degree")
                        label.form-check-label(for="degree-magister")  Master
                      .form-check
                        input.form-check-input#degree-doctorado(type="radio", name="degree", value="doctor",
                            ng-model="main.data.user.degree")
                        label.form-check-label(for="degree-doctorado") Doctor
                .form-group.row
                  .col-sm-12
                    button.btn.btn-primary.pull-right(type="submit", ng-click="main.next()") Next

            div#tasks(ng-hide="main.step != 2")
              h4 Part 2: Task {{ main.taskStep + 1}} of 10
                .pull-right on  
                  a(href="{{main.url[main.urlStep]}}", target="_blank") {{main.url[main.urlStep]}}
              div(ng-repeat="(key, value) in main.tasks", ng-hide="main.taskStep!=$index")
                label(for="{{'sparql' + $index}}", style="font-size: 1.25rem;") {{ value }}
                form
                  textarea.form-control.mb-2(id="{{'sparql' + $index}}", rows="5", 
                      placeholder="Your SPARQL query here.", ng-model="main.data.tasks[$index].sparql")
                  .form-group.row
                    .col-sm-12
                      button.btn.btn-primary.pull-right(type="submit", ng-click="main.next()") Next

            div#nasa-tlx(ng-hide="main.step != 3")
              h4 Part 3: Nasa-TLX
                .pull-right for  
                  a(href="{{main.url[main.urlStep]}}", target="_blank") {{main.url[main.urlStep]}}
              form
                div(ng-repeat="(key, value) in main.tlx")
                  .row(style="font-weight: bolder;")
                    .col-sm-4 {{ value.category }}
                    .col-sm-8
                      label.pull-right(for="{{'tlx' + $index}}") {{ value.text }}
                  input.custom-range(id="{{'tlx' + $index}}", type="range", step="5",
                      ng-model="main.data.tlx[main.urlStep].score[$index]")
                  div.mb-4(style="font-weight: lighter;")
                    span {{ value.lmin }}
                    span.pull-right {{ value.lmax }}
                .form-group.row
                  .col-sm-12
                    button.btn.btn-primary.pull-right(type="submit", ng-click="main.next()") Next

            div#likert(ng-hide="main.step != 4")
              h4 Part 4: Likert
                .pull-right for  
                  a(href="{{main.url[main.urlStep]}}", target="_blank") {{main.url[main.urlStep]}}
              form
                div(ng-repeat="(key, value) in main.likert")
                  label(style="font-weight: bolder;", for="{{'likert' + $index}}") {{ value.text }}
                  input.custom-range(id="{{'likert' + $index}}", type="range", min="1", max="5",
                      ng-model="main.data.likert[main.urlStep].score[$index]")
                  div.mb-4(style="font-weight: lighter;")
                    span {{ value.lmin }}
                    span.pull-right {{ value.lmax }}
                .form-group.row
                  .col-sm-12
                    button.btn.btn-primary.pull-right(type="submit", ng-click="main.next()") Next

            div#likert(ng-hide="main.step != 5")
              h5 Your answers have been saved.
              h5 Thanks for answering this survey!
              button.btn.btn-primary.pull-right(ng-click="main.download()") Download

    // Bootstrap 4.0 js
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
           integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",
           integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    // AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js")
    //Ui bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js")
    // angular-loading-bar
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js")
    // CodeMirror
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/mode/sparql/sparql.min.js")
    // My scripts
    script(src="scripts/survey.js")
