div#tools
  div#right-buttons
    button#help-button.pull-right.btn.btn-outline-secondary(
        ng-click="main.toolToggle('help')",
        ng-class="{'active': (main.tool == 'help') }",
        type="button", aria-label="Right Align")
      span.fa.fa-info(aria-hidden="true")
    //button.pull-right.btn.btn-outline-secondary(
        ng-click="main.toolToggle('log')",
        ng-class="{'active': (main.tool == 'log') }",
        type="button", aria-label="Right Align")
      span.fa.fa-file-archive-o(aria-hidden="true")
    //button.pull-right.btn.btn-outline-secondary(disabled,
        ng-click="main.toolToggle('settings')",
        ng-class="{'active': (main.tool == 'settings') }",
        type="button", aria-label="Right Align")
      span.fa.fa-cogs(aria-hidden="true")
    button.pull-right.btn.btn-outline-secondary(
        ng-click="main.toolToggle('describe')",
        ng-class="{'active': (main.tool == 'describe') }",
        type="button", aria-label="Right Align")
      span.fa.fa-list(aria-hidden="true")
    button.pull-right.btn.btn-outline-secondary(
        ng-disabled="!main.graph.selected",
        ng-click="main.toolToggle('edit')",
        ng-class="{'active': (main.tool == 'edit') }",
        type="button", aria-label="Right Align")
      span.fa.fa-pencil(aria-hidden="true")
    button.pull-right.btn.btn-outline-secondary(
        ng-click="main.toolToggle('sparql')",
        ng-class="{'active': (main.tool == 'sparql') }",
        type="button", aria-label="Right Align")
      span.fa.fa-code(aria-hidden="true")
  div#right-panel(ng-hide="main.tool == 'none'")
    include describe
    include settings
    include log
    include edit
    include sparql
    include help
