div.tools-right
  div#right-buttons(
    data-position="left-aligned",
    data-step="3",
    data-intro='More tools are displayed here!')
    button.pull-right.btn.btn-default(
        ng-click="main.tutorial()"
        type="button", aria-label="Right Align")
      span.glyphicon.glyphicon-info-sign(aria-hidden="true")
    button.pull-right.btn.btn-default(
        ng-class="{'active': (main.toolr == 'describe') }",
        type="button", aria-label="Right Align", ng-click="main.toolrToggle('describe')")
      span.glyphicon.glyphicon-th-list(aria-hidden="true")
  div#right-panel(ng-hide="main.toolr == 'none'")
    include describe
